<table style="margin-top: 0;">
    <tr>
        <td>
            <a data-toggle="modal" data-target="#myModal" style="font-size:15px; color:#ffffff;
                    cursor: pointer;">
               sdasd
            </a>
            <br>
            <a data-toggle="modal" data-target="#myModal" style="color:#ffffff; cursor: pointer;">
            </a>
            <br>
            <br>
            <div class="countdown"
                 data-role="countdown"
                 data-days={{ 10 }}
                 data-hours={{ 10 }}
                 data-minutes={{ 10 }}
                 data-seconds={{ 10 }}
                 data-background-color="bg_cyan"
                 data-labels="{'days': 'days', 'hours': 'hours', 'minutes': 'minutes', 'seconds': 'seconds'}">
            </div>
        </td>
    </tr>
    <tr></tr>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b> Popis udlosti: </b> sad</h5>
            </div>
            <div class="modal-body">
                <p>TEST - description</p>
            </div>
            <div class="modal-footer">
                <span style="float: left;"><b>Vytvořil</b> asdsad</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>