<div class="wrapper wrapper-transparent">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 small-screen-center">
                <h3>
                    SDH
                    <span class="light">
                Babice
              </span>
                </h3>
                <p>
                    +420 732 815 516 | sadeckyvit@gmail.com
                    <br>
                    Ke hřišti 200, 25101 Babice, {% trans %}The Czech Republic{% endtrans %}
                    <br>
                    &copy; Copyright {{ "now"|date("Y") }}
                </p>
            </div>
            <div class="span6">
                <ul class="unstyled inline text-right small-screen-center big social-icons">
                    <li>
                        <a data-iconcolor="#00a0d1" href="#">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a data-iconcolor="#3b5998" href="https://www.facebook.com/SDH-Babice-112011152581162">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a data-iconcolor="#910101" href="#">
                            <i class="icon-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>