{% extends 'base.html.twig' %}

{% block body %}
    <!-- Promo Section -->
    <section class="section section-alt">
        <div class="row-fluid">
            <div class="super-hero-unit">
                <figure>
                    <img alt="some image" src="{{ asset('images/assets/landscapes/landscape-3-1250x600.jpg') }}">
                    <figcaption class="flex-caption">
                        <h1 class="hyper animated fadeinup delayed">
                            500
                        </h1>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <!-- 404 content -->
    <section class="section section-padded">
        <div class="container-fluid">
            <div class="section-header">
                <h1>
                    OOPS
                    <small class="light">{% trans %}page not found{% endtrans %}</small>
                </h1>
            </div>
            <p class="lead text-center">
                {% trans %}the page you requested could not be found.{% endtrans %}
            </p>
            <div class="text-center">
                <a class="btn btn-primary btn-large pull-center" href="{{ path('homepage') }}">
                    <i class="icon-home"></i>
                    {% trans %}go back home{% endtrans %}
                </a>
            </div>
        </div>
    </section>
{% endblock %}